body {
    font-family: "Nunito", sans-serif;
    color: #384047;
}

form {
    background: #F4F7F8;
    max-width: 580px;
    margin: 10px, auto;
    padding: 10px 20px;
    border-radius: 8px;
}

h1 {
    margin: 0px 0px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    margin: 0px 2px 30px 0px;
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

legend::before {
    content: "";
    background-color: #007a5a;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-right: 15px;
    vertical-align: middle;
    display: inline-block;
    font-size: 14px;
}

input, .textInput {
    box-sizing: border-box;
}

.textInput, select {
    background: rgba(255, 255, 255, 0.1);
    background-color: #e8eeef;
    margin: 0px 0px 30px 0px;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: auto;
    font-size: 16px;
    color: #8a97a0;
    outline: 0;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

button {
    width: 100%;
    color: #fff;
    font-size: 18px;
    background-color: #4BC970;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-style: normal;
}